<!DOCTYPE html>
<html lang="en" class="<% if user_signed_in? %>app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie8 no-ie10 no-ie11 no-ios no-ios7 ipad<% else %>bg-info<% end %>">
  <head>
    <meta charset="utf-8" />
    <title>MusicZone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/assets/jplayer.flat.css" type="text/css" />
    <link rel="stylesheet" href="/assets/app.v1.css" type="text/css" />
    <style type="text/css">:root #content > #right > .dose > .dosesingle,
    :root #content > #center > .dose > .dosesingle {
        display: none !important;
    }</style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
  <body cz-shortcut-listen="true">
  <section class="vbox">
    <%= render partial: 'layouts/header_panel' %>
      <section>
          <section class="hbox stretch">
            <%= render partial: 'layouts/left_panel' %>
            <section id="content">
                <section class="hbox stretch">
                    <%= yield %>
                    <%= render partial: 'layouts/right_panel' %>
                </section>
                <a href="http://flatfull.com/themes/musik/index.html#" class="hide nav-off-screen-block"
                   data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
            </section>
          </section>
      </section>
  </section>
  <script src="/assets/app.plugin.js"></script>
  <script src="/assets/app.v1.js"></script>
  <script type="text/javascript" src="/assets/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="/assets/jplayer.playlist.min.js"></script>
  <script type="text/javascript" src="/assets/demo.js"></script>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  </body>

  <% else %>
    <body class="bg-info">
      <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="container aside-xl">
          <a class="navbar-brand block" href="index.html">
            <span class="h1 font-bold">MusicZone</span>
          </a>
          <section class="m-b-lg">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
          </section>
        </div>
      </section>
      <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center padder">© <%= Time.now.year %> Copyright:
          <a href=""> MusicZone.com</a>
        </div>
      </footer>
      <script src="/assets/app.plugin.js"></script>
      <script type="text/javascript" src="/assets/jquery.jplayer.min.js"></script>
      <script type="text/javascript" src="/assets/jplayer.playlist.min.js"></script>
      <script type="text/javascript" src="/assets/demo.js"></script>
    </body>
  <% end %>
</html>
